%h1 Electre TRI APP
%p Sistema Web de Apoio à Decisão Multicritério, Baseado no Algoritmo ELECTRE TRI
- if @projects.present?
	= render :template => 'projects/index'
	.pager
		= will_paginate @projects, renderer: BootstrapPagination::Rails
- else
	=link_to t('.new', :default => t("helpers.links.new_project")), new_project_path, :class => "btn btn-primary"
