%h1 Electre TRI APP
%p Sistema Web de Apoio à Decisão Multicritério, Baseado no Algoritmo ELECTRE TRI
%p Projects: #{@count}. 
- if !@count.eql?(0)
  =link_to 'View Projects', projects_path, :class => "btn btn-info"
=link_to 'Create a new Project', new_project_path, :class => "btn btn-primary"
