%h1 Electre TRI APP
%p Sistema Web de Apoio à Decisão Multicritério, Baseado no Algoritmo ELECTRE TRI
- if !@count.eql?(0)
	%p View the last projects, limited the five.
	= render :template => 'projects/index'
	=link_to 'All Projects', projects_path, :class => "btn btn-info"
- else
	=link_to 'Create a new Project', new_project_path, :class => "btn btn-primary"
