%h1 Team
%fieldset
  %legend
    .row
      .col-md-1
        = image_tag 'kissila.jpg', alt: 'Kissila da Silva Ventura', width: '64x64', class: 'img-circle img-responsive'
      .col-md-9
        %h2 Kíssila da Silva Ventura
    %p Bacharelanda em Sistemas de Informação
  %legend
    .row
      .col-md-1
        = image_tag 'ismael.jpg', alt: 'Ismael Moreira de Brito', width: '64x64', class: 'img-circle img-responsive'
      .col-md-9
        %h2 Ismael Moreira de Brito
    %p Bacharelando em Sistemas de Informação
  %legend
    .row
      .col-md-1
        = image_tag 'vinicius.jpg', alt: 'Vinicius Barcelos da Silva', width: '64x64', class: 'img-circle img-responsive'
      .col-md-9
        %h2 Vinicius Barcelos da Silva
    %p Tecnólogo em Análise e Desenvolvimento de Sistemas 
    %p Bacharel em Sistemas de Informação
    %p Mestre em Engenharia de Produção
